<ul class="sidemenu" >

<li class="nav-header" ng-if="::ctrl.isSignedIn" class="dropdown">

                <div class="profile-element dropdown" uib-dropdown="">
                    <img alt="image" class="" ng-src="{{::ctrl.user.gravatarUrl}}">
                    <a uib-dropdown-toggle="" href="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{::ctrl.user.name}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{::ctrl.user.orgName}} <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInDown m-t-xs" id="profile-dropdown-menu" role="menu" uib-dropdown-menu="">
						<li ng-repeat="menuItem in ctrl.orgMenu" ng-class="::menuItem.cssClass">
							<span ng-show="::menuItem.section">{{::menuItem.section}}</span>
							<a href="{{::menuItem.url}}" ng-show="::menuItem.url" target="{{::menuItem.target}}">
								<i class="{{::menuItem.icon}}" ng-show="::menuItem.icon"></i>
								{{::menuItem.text}}
							</a>
						</li>
					</ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

<!-- 	<li class="sidemenu-org-section" ng-if="::ctrl.isSignedIn" class="dropdown">
		<a class="sidemenu-org" href="profile">
			<div class="sidemenu-org-avatar">
				<img ng-src="{{::ctrl.user.gravatarUrl}}">
				<span class="sidemenu-org-avatar--missing">
					<i class="fa fa-fw fa-user"></i>
				</span>
			</div>
			<div class="sidemenu-org-details">
				<span class="sidemenu-org-user sidemenu-item-text">{{::ctrl.user.name}}</span>
				<span class="sidemenu-org-name sidemenu-item-text">{{::ctrl.user.orgName}}</span>
				<span class="sidemenu-org-name sidemenu-item-text">{{::ctrl}}</span>
			</div>
		</a>



		<i class="fa fa-caret-right"></i>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="menuItem in ctrl.orgMenu" ng-class="::menuItem.cssClass">
				<span ng-show="::menuItem.section">{{::menuItem.section}}</span>
				<a href="{{::menuItem.url}}" ng-show="::menuItem.url" target="{{::menuItem.target}}">
					<i class="{{::menuItem.icon}}" ng-show="::menuItem.icon"></i>
					{{::menuItem.text}}
				</a>
			</li>
		</ul>
	</li> -->

	<li class="sidemenu-org-section"  class="dropdown" ng-if="::ctrl.isSignedIn" >
		<ul role="menu" class="search-results-container" ng-if="!ctrl.tagsMode">
			<li ng-hide="ctrl.results.length">No dashboards matching your query were found.</li>
			<li ng-repeat="row in ctrl.results">
			
		

		<a class="search-item pointer search-item-{{row.type}}" bindonce ng-class="{'selected': $index == ctrl.selectedIndex}" ng-href="{{row.url}}">

			<span class="search-result-tags">
				<span ng-click="ctrl.filterByTag(tag, $event)" ng-repeat="tag in row.tags" tag-color-from-name="tag"  class="label label-tag">
					{{tag}}
				</span>
				<i class="fa" ng-class="{'fa-star': row.isStarred, 'fa-star-o': !row.isStarred}"></i>
			</span>

			<span class="search-result-link">
				<i class="fa search-result-icon"></i>
				<span bo-text="row.title"></span>
			</span>
		</a>

			</li>
		</ul>
	</li>




	<li ng-repeat="item in ::ctrl.mainLinks" class="dropdown" ng-if="::ctrl.isSignedIn" >
		<a href="{{::item.url}}" class="sidemenu-item sidemenu-main-link" target="{{::item.target}}">
			<span class="icon-circle sidemenu-icon">
				<i class="{{::item.icon}}" ng-show="::item.icon"></i>
				<img ng-src="{{::item.img}}" ng-show="::item.img">
			</span>
			<span class="sidemenu-item-text">{{::item.text}}</span>
			<span class="fa fa-caret-right" ng-if="::item.children"></span>
		</a>
		<ul class="dropdown-menu" role="menu" ng-if="::item.children">
			<li ng-repeat="child in ::item.children" ng-class="{divider: child.divider}">
				<a href="{{::child.url}}">
					<i class="{{::child.icon}}" ng-show="::child.icon"></i>
					{{::child.text}}
				</a>
			</li>
		</ul>
	</li>
<!-- 
	<li ng-show="::!ctrl.isSignedIn">
    <a href="{{ctrl.loginUrl}}" class="sidemenu-item" target="_self">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-sign-in"></i></span>
			<span class="sidemenu-item-text">Sign in</span>
		</a>
	</li>

	<li>
		<a class="sidemenu-item" target="_self" ng-hide="ctrl.contextSrv.pinned" ng-click="ctrl.contextSrv.setPinnedState(true)">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-thumb-tack"></i></span>
			<span class="sidemenu-item-text">Pin</span>
		</a>
	</li> -->
</ul>

